[Unit]
Description=Python Price Data Collection
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/user/prices
ExecStart=/home/user/prices/.venv/bin/python -m /home/user/prices/backend_collection/main
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target