:root {
	--nav-bar-height: 120px;

	--background: #fffad1;
	--background-2: #3ea848;
	--accent-1: #2f2f2f;
	--dim-accent: #686868;
	--inv-accent: #e7e7e7;

	--blend: #fff;



	--asda: #78be20;
	--snsb: #f47320;
	--mor1: #00563f;
	--mor2: #ffc20e;
	--tsc1: #cc2131;
	--tsc2: #28539c;

	--pound: #fccd3f;
	--pound2: #a27b35;

	--n-cols: 9
}







h1, h2, h3, h4, h5, h6, p {
	text-wrap-style: balance;
}

h1 {
	font-size: 5em;
	font-family: Roboto, sans-serif;
	font-weight: 900;
	line-height: 1;
}


h2 {
	font-family: "Playpen Sans", cursive;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
}



p {
	font-size: 1em;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	line-height: 1;
}




* { margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	box-sizing: border-box;
}




body {
	background-color: var(--background);
}




form.search-bar {
	display: flex;

	width: 100%;
	height: 100%;
}

form.search-bar div.query {
	height: 100%;

	flex-grow: 1;
	flex-shrink: 1;

	position: relative;
}

form.search-bar div.query input,
form.search-bar div.query label {
	width: 100%;

	padding-left: 10px;
	white-space: pre;
}

form.search-bar div.query input {
	height: 100%;
	font-size: 1.1em;

	background-color: var(--background);

	border-radius: 4px;
	border: 2px solid var(--accent-1);	
}

form.search-bar div.query label {
	position: absolute;
	left: 0;

	top: 50%;
	transform: translateY(-50%);
	height: fit-content;

	font-size: 1.3em;
	
	pointer-events: none;

	opacity: 1;
}

form.search-bar div.query input:focus {
	outline: none;
	
	border-color: color-mix(in srgb, var(--background-2), var(--blend) 50%);
	background-color: color-mix(in srgb, var(--background), var(--blend) 50%);

	transition: 
		border linear 0.05s,
		background-color linear 0.05s;
}

form.search-bar div.query:has(input:focus) label,
form.search-bar div.query:has(input:not(:placeholder-shown)) label {
	opacity: 0;
	transition: opacity linear 0.07s;
}



form.search-bar div.submit {
	height: 100%;
	aspect-ratio: 1/1;

	position: relative;

	flex-grow: 0;
	flex-shrink: 0;
}

form.search-bar div.submit input {
	width: 100%;
	height: 100%;
	opacity: 1;
	
	border: none;
	background: none;

	position: relative;
	z-index: 1;

	cursor: pointer;
}

form.search-bar div.submit svg {
	padding: 7px;

	pointer-events: none;

	position: absolute;
	z-index: 0;

	fill: var(--accent-1);
}






.svg-defs {
	width: 0;
	height: 0;
}


g#icon24-pound use:nth-child(2) {
	fill: var(--pound)
}

g#icon24-pound use:nth-child(1) {
	fill: var(--pound2);
}


g#logo81-asda path {
	fill: var(--asda)
}


g#logo54-morr path:nth-child(1) {
	fill: var(--mor1);
}

g#logo54-morr path:nth-child(2) {
	fill: var(--mor2);
}


g#logo84-tsco path:nth-child(1) {
	fill: var(--tsc1);
}

g#logo84-tsco path:nth-child(2) {
	fill: var(--tsc2);
}


g#logo881-snsb path {
	fill: var(--snsb);
}








#nav-bar {
	width: 100%;
	height: var(--nav-bar-height);

	display: flex;
	flex-direction: row;

	justify-content: space-between;
	align-items: center;

	background-color: var(--background-2);
}

#nav-bar > * {
	height: 100%;
	max-height: 100%;
}


#nav-bar .left-items {
	display: flex;
	justify-content: center;
}

#nav-bar .left-items .site-logo {
	padding: 5% 0;
}



#nav-bar .middle-items {
	display: flex;
	flex-direction: column;

	padding: 10px 0;

	width: 50%;
}

#nav-bar .middle-items > * {
	height: 50%;
}

#nav-bar .middle-items search {
	width: 75%;
	height: 75%;
}




.buttons-cont {
	background-color: yellow;
}

.img-cont img {
	height: 100%;
}


#content {
	width: 100vw;
}

#content.home header {
	width: 100%;
	padding: 20px 0 20px 100px;
}

#content.home section:nth-of-type(1) {
	width: 100%;

	display: flex;
	justify-content: center;
}

#content.home section:nth-of-type(1) .carousel {
	width: 800px;
	height: 500px;
}


#content.home section:nth-of-type(1) .carousel-slides {

}


#content.home section:nth-of-type(1) .carousel-slides .slide {
	width: 100%;
	height: 100%;

	overflow: hidden;
}

#content.home section:nth-of-type(1) .slide.home-title .bkg {
	width: 100%;
	height: 100%;

	position: absolute;
	z-index: -1;

	
	overflow: hidden;
}
#content.home section:nth-of-type(1) .slide.home-title .bkg img {
	width: 120%;
	height: 120%;

	transform: translate(-10%, -10%);
	object-fit: cover;
	object-position: center center;

	filter: blur(10px) brightness(0.7) saturate(1.3);
}

#content.home section:nth-of-type(1) .slide.home-title h2 {
	color: var(--background);
	filter: drop-shadow(1px 1px 2px #111111);

	padding: 5px 20px 10px 20px;

	font-size: 3.5em;
	line-height: 1;
}

#content.home section:nth-of-type(1) .slide.home-title p {
	color: var(--background);
	filter: drop-shadow(1px 1px 1px #111111);

	font-size: 1.5em;
	font-weight: 400;
	padding: 5px 30px 10px 30px;
}

#content.home section:nth-of-type(1) .slide.home-title p:last-of-type {
	position: absolute;
	bottom: 10px;

	text-align: right;
	text-wrap-mode: wrap;
	text-wrap-style: balance;
}









button.icobutton {
	border: 2px solid var(--accent-1);
	border-radius: 50%;
	background-color: color-mix(in srgb, var(--inv-accent) 100%, #ffffff00 20%);

	fill: var(--accent-1);
}

button.icobutton svg {
	width: 100%;
	height: 100%;
}





div.carousel {
	position: relative;
}

div.carousel.fit-to-slide {
	border: 1px solid var(--accent-1);
}

div.carousel.fit-to-slide button {
	position: absolute;

	width: 50px;
	height: 50px;
	
	top: 50%;
	transform: translateY(-50%);

	padding: 8px;

	margin: 0 5px;
}

div.carousel.fit-to-slide button:last-of-type {
	right: 0;
}


div.carousel ol.carousel-slides {
	margin: 0;
	padding: 0;
}


div.grid {
	width: 100%;

	position: relative;
}

div.grid ul.grid-items {
	display: grid;

	grid-template-columns: repeat(var(--n-cols), 1fr);
}

div.grid.scroll ul.grid-items {
	flex-wrap: nowrap;
	overflow: auto hidden;
}


div.grid > button {
	position: absolute;

	width: 50px;
	height: 50px;

	padding: 8px;
}

div.grid .grid-item {
	border: 1px solid red;
}

div.grid .grid-item .img-cont {
	width: 100%;
	max-width: 100%;

	position: relative;

	padding: 10% 10% 0 10%;
}

div.grid .grid-item .img-cont img {
	width: 100%;
}

div.grid .grid-item .img-cont .overlay {
	position: absolute;
	left: 0;
	top: 0;
}

div.grid .grid-item {
	font-family: Roboto, sans-serif;
}

div.grid .grid-item .data1,
div.grid .grid-item .data2 .price sub {
	font-size: 0.8em;
	color: var(--dim-accent);
}

div.grid .grid-item .data1 {
	display: flex;
	justify-content: space-between;
}


div.grid .grid-item .data2 {
	height: 70px;
}

div.grid .grid-item .data2 > div {
	width: 100%;
	height: 100%;

	position: relative;

	display: flex;
	flex-direction: row;
	align-items: center;

	padding-top: 10px;
}

div.grid .grid-item .data2 .logos {
	--n-logos: 2;
	display: grid;
	grid-template-columns: repeat(var(--n-logos), 1fr);

	height: 75%;
	max-height: 75%;
}

div.grid .grid-item .data2 svg {
	max-height: 50%;
	width: 100%S;
}

div.grid .grid-item .data2 .price {
	line-height: 2;
	width: 50%;
	text-align: center;

	flex-shrink: 0;
}